# assets/Caddyfile 
 
:{$PORT:3000} { 
  # logs no formato json (útil para observabilidade) 
  log { 
    format json 
  } 

  # healthcheck (Coolify pode apontar para /health) 
  respond /health 200 

  # raiz da app: pasta de saída do Vite 
  root * /app/${NIXPACKS_SPA_OUTPUT_DIR} 

  encode gzip 

  # servidor de arquivos estáticos 
  file_server 

  # SPA fallback 
  try_files {path} /index.html 
}